<div class="widget-chat-item left">
  {{#if avatar}}
  <img src="{{avatar}}" alt="" class="widget-chat-avatar">
  {{/if}}
  <span class="widget-chat-date pull-right">{{time}}</span>
  <div class="widget-chat-heading"><a href="#" title="">{{name}}</a> says:</div>
  <div class="widget-chat-text">
    {{text}}
  </div>
</div>
