# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3b3ba93bed551d5e2c3fa96f6e270ac33bb7acfcc74e54c9f41dcbf0773c45943b128892abc75a0dc82f1af432f9d9740d498f3d9d45e0082bccc31a6872408b

test:
  secret_key_base: 1ea858424a6a1b95d131ed9182c8c80c3a2c81ed260f56cdf0f74866d9e2d20e0af594281fcf38c80cf0684c1f634b5f49a688a12b46eb7a4ebc0393a1bd9eed

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
